.title-output-area {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.list-item {
  list-style-type: none;
}

.list {
  margin-left: 12px;
  padding-left: 12px;
}

.output-area {
  border-radius: 8px;
  border: 2px solid lightblue;
  font-size: 1rem;
  padding-left: 0;
}
