.input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid lightblue;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn {
  padding: 12px 20px;
  text-align: center;
  margin: 10px 10px 0 0;
  border: none;
  font-size: 1rem;
  background-color: lightblue;
  border-radius: 8px;
}
