.form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.input {
  width: 65%;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid lightblue;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn {
  padding: 12px 20px;
  border: none;
  font-size: 1rem;
  background-color: lightblue;
  border-radius: 8px;
}

.btn:hover {
  background-color: rgb(133, 207, 231);
}
