.search-page {
  max-width: 400px;
  margin: 4rem auto 4rem auto;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.75rem;
}

input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid lightblue;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  padding: 12px 20px;
  text-align: center;
  margin: 10px 10px 0 0;
  border: none;
  font-size: 1rem;
  background-color: lightblue;
  border-radius: 8px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  margin-top: 1rem;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 12px;
  padding-left: 12px;
}

#btn-faves {
  background-color: gainsboro;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

#output-area {
  border-radius: 8px;
  border: 2px solid lightblue;
  margin-top: 1rem;
  font-size: 1rem;
  padding-left: 0;
}

#error-message {
  font-size: 1rem;
  color: red;
}
