.item-img {
  width: 600px;
  border-radius: 8px;
}

.item-title {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.item-priceFormatted {
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
